
.vscode/settings.json
.vscode/launch.json
__pycache__/TestCase.cpython-37.pyc
*.pyc
test_csv/*
LTspiceModels/bestCase.log
LTspiceModels/bestCase.op.raw
LTspiceModels/bestCase.raw
LTspiceModels/linearDraft01.log
LTspiceModels/linearDraft01.op.raw
LTspiceModels/linearDraft01.raw
results_P4.csv
/* simulation_plots/* */
topology_tester.py
